!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
  body!= body
  script(src='/javascripts/underscore-min.js')
  script(src='/javascripts/client.js')
  script(src='/javascripts/pacman.js')